{{#each this}}
<li class="country__item">
  <h2 class="country__title">{{name}}</h2>
  <div class="country__content">
    <div class="country__content-wrapper">
    <p>Capital: {{capital}}</p>
    <p>Population: {{population}}</p>
    <p>Languages:</p>
    <ul class="languages__list">
      {{#each languages}}
      <li>{{this.name}}</li>
      {{/each}}
    </ul>
  </div>
  <img src="{{flag}}" alt="{{name}}" width="500" class="country__flag">
  </div>
</li>
{{/each}}